@import 'theme';
@import 'print';

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: .25rem;
}
.gap-2 {
  gap: .5rem;
}
.gap-3 {
  gap: 1rem;
}

$widths: 1400, 1200, 1000, 900, 400, 300, 200, 100;
@each $n in $widths {
  .mx-#{$n} {
    max-width: #{$n}px;
  }
  .w-#{$n}-px {
    width: #{$n}px;
  }
  @media only screen and (min-width: 576px) {
    .mx-sm-#{$n} {
      max-width: #{$n}px;
    }
  }
}

@media (max-width: 575.98px) {
  [class*="mx-sm-"] {
    max-width: 100% !important;
  }
  [class*="w-"][class*="-px"] {
    width: 100% !important;
  }
}

.sticy-form-action {
  position: sticky;
  top: 16px;
}

.navbar-nav .user-menu img {
  object-fit: cover;
}
